
body{
   font-family: 'Playfair Display', serif;

  }
.aux{
	background-image: url("background.jpeg");
	 #background-repeat: no-repeat;
	  #background-size: cover;
	#background-color: rgb(199, 241, 247,0.5);
}
  label{
    font-weight:500;
  }
  .box{
    border: 2px solid black;
    background-color: white;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px 10px 20px 10px;
    margin-top:20px;
    margin-bottom:20px;
	border-radius: 25px;
  }

.navbar.navbar-expand-lg.navbar-black.bg-dark{
	margin-bottom:20px;
}

.text-primary
{
	margin-bottom:15px;
	text-align: center;
}

.edclass{
	margin-top:40px;
}

.loginlink{
	font-weight: bold;
}

.allogin{
	font-weight:300;
	font-size: 15px;
}

.colour{
	background-color:black;
}

.whitecolor{
	color: white;
}

.bluecolor{
	color: blue;
}

